<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.singi_000.testmultiplescreens" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.singi_000.prototype1.MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name="com.example.singi_000.prototype1.BaseActivity"
            android:label="@string/title_activity_base"
            >
        </activity>
        <activity
            android:name="com.example.singi_000.prototype1.InscriptionActivity"
            android:label="@string/title_activity_inscription" >
        </activity>
        <activity
            android:name="com.example.singi_000.prototype1.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.example.singi_000.prototype1.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="com.example.singi_000.prototype1.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.example.singi_000.prototype1.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.example.singi_000.prototype1.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.example.singi_000.prototype1.StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
